<div class="form">
    <div class="form-header">
        <h2>{{userData != null ? 'Edit User' : 'Add User'}}</h2>
    </div>

    <div [formGroup]="userForm" class="form-content ">
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>Name</mat-label>
            <input type="text" matInput required placeholder="Enter user name" formControlName="name" autocomplete="off">
            <mat-error *ngIf="userForm.controls.name.hasError('required') && userForm.controls.name.touched">
                User name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>Designation</mat-label>
            <input type="text" matInput required placeholder="Enter user designation" formControlName="dg" autocomplete="off">
            <mat-error *ngIf="userForm.controls.dg.hasError('required') && userForm.controls.dg.touched">
                Designation is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput placeholder="Enter user phone" formControlName="phone" autocomplete="off">
            <mat-error *ngIf="userForm.controls.phone.hasError('minlength') && userForm.controls.phone.touched">Phone must be of atleast 11 digits.</mat-error>
            <mat-error *ngIf="userForm.controls.phone.hasError('maxlength') && userForm.controls.phone.touched">Phone must be of less than 12 digits.</mat-error>
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="onSave()">{{userData != null ? 'Update' : 'Add'}}</button>
    </div>
</div>